.csrol{
  max-width: 100%;
  height: 370px;
}

.cont-width{
 max-width: 1000px;
 margin: 0 auto;
}
.head-wraper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.vertical{
  transform: translateY(30%);
}
.mar{
 margin-left: 0.5rem;
 margin-right: 0.5rem;
 padding: 0.5rem;
}
.navbar-brand{
  color: #000 !important;
}
.nav-link{
  color: #fff !important;
}
.btn-light{
  background-color: #ffa630 !important;
  border: 1px solid #ffa630 !important;
  color: #000 !important;
}
.btn-dark:hover{
  box-shadow: 2px 2px 10px 1px rgb(179, 116, 0);
  text-shadow: 0px 0px #2e5077;
}

.head{
  background-color: #0c090d !important;
  padding:10px ;
  text-align: center;
 
  color: #f7f7f7;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 5px 5px 27px 1px #888888;
}
.instructions{
  padding:1rem;
  text-align: left;
  
  line-height: 10px !important;/*  not woking */
}

.warper{
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
}
.head01{
  transform: translateY(25%);
}
#new{
  display: inline;
  height: 2.3rem;
  width: 2.3rem;
}
.card{
  background-color:#2e5077;  
  margin-left: 0;
  border-radius: 3rem;
 
}
.card-title, .card-text{
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
i{
  font-size: 1.8rem;
}

 .new{
  color: rgb(66, 66, 66);
  position: relative;
  transform: translateY(150%);
 
  margin-left: 0.8rem;
}

.process-bucket{
  background-color: orange;
  padding-bottom: 3rem;
  padding-top:2rem;
  margin-bottom: 2rem;
}
.coll{
  background-color:#2e5077;
   color: #fff;
}
.left{
  text-align: left !important;
  text-decoration: none;
  color: #fff;
}
.left:hover{
  color: orange;
}
.collapse-faq{
  margin-left:0.8rem;
  background-color: #b4b4b4;
  color: #000;
}
.benefits-bucket, .faq-benefits{
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 1000px;
  margin: auto;
}

.space{
  background-color: #dae0f2;
  padding: 2rem;
  margin: 1rem;
  
}

.foot-hero{
  text-align: center;
  padding: 2rem;
  background-color: #000 !important;
  border-radius: 0 3rem 0 3rem !important;
}
.foot-hero-img, .foot-hero-text{
  display: inline-block;

  text-align: center;
  color: #fff;
  line-height: 0.5rem;
}
/* .foot-hero-text{
  margin-left: 1.8rem;
}

.foot-hero-img{
   transform: translateY(-35%);
  
} */

.list-group-item:hover{
  background-color: #dae0f2;
  cursor: pointer;
}
a{
  text-decoration: none;
}
.foot-bottom{
  /* max-width: 1000px; */
   margin: 0 auto;
   text-align: center;
   padding: 0.5rem 0 0 0;
	}
.body{
 max-width: 1000px;
 margin: auto;
}

.li{
  display: inline-block;
  text-align: center;
  padding: 0.7rem 1rem 0.2rem 1rem;
  margin-bottom: 0.1rem;
  background-color: #eeeeee;
  border: 1px solid silver;
  border-radius: 3px;
  text-decoration: none;
  color: #4c4e4e;
}
.li:hover{
  background-color: #3f6d8a;
  color: #fff;
  box-shadow: 1px 2px 7px #d7d7d7;
}
.ul{
  margin-left: -2.5rem !important;
}
@media (max-width: 767.98px) { 
  
  .csrol{
  max-width: 100%;
  height: 300px;
  }
  .head{  
  padding:5px;  
  line-height: 2rem;
  }
.process-head{
  padding: 5px;
  }
  .card-title, .card-text{  
  font-size: 1.1rem;  
  }
  .card-header, .card-body{
    font-size: 1rem;
  }
  .head-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size:1.2rem;
    font-weight: 400;
  }
  h5{
    font-size: 1rem;
  }
  h6{
    font-size:0.8rem;
    font-weight: 400;
  }
 }

 @media (max-width: 575.98px) { 
   
  .csrol{
  max-width: 100%;
  height: 150px;
  }
  .new{
    display: none;
  }
  
  .li{
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  }
  .hide-570{
    display: none;
  }
  .card-title, .card-text{  
  font-size: 1rem;  
  }
  .card-header, .card-body{
    font-size: 0.9rem;
  }
  .card-body{
    transform: translate(0px,-5px);
  }
  h2{
    font-size: 1.3rem;
  }

  h3{
    font-size: 1.2rem;
  }
  h4{
    font-size:1rem;
    font-weight: 400;
  }
  
  h6{
    font-size:0.8rem;
    font-weight: 400;
  }

  }