 
 .container {
   max-width: 1000px;
   background-color: #fcfcfc;
   text-align: center;
   margin-top: 1rem;
   margin-bottom: 1rem;
   box-shadow: 5px 5px 27px 1px #2e5077;
   border-radius: 5px;
   color: #000 !important;
  }

  .header {
   background-color: #006ba6;
   text-align: center;
   margin-bottom: 2rem;
   padding: 1.7rem;
   /* border-radius: 0 0 19px 19px; */
   color: white;

  }

  .header h3 {
   font-size: 1.2rem;
   color: #efefef;
  }


  .form {
   text-align: left;
  }

  .input {
   border-radius: 7px;
   margin-bottom: 10px;
   height: 3rem;
  }
  .required{
    color: red;
  }
  .label {
   margin-bottom: 10px;
   padding-bottom: 0.7rem;
   font-size: 1.1rem;
   font-weight: 600;
  }

  .btn-form {
   
   width: 20rem;
   height: 2.5rem;
 
   margin: 2rem;
  }

  .upload {
   display: inline-block;
  }

  .form-item {
   display: grid;
   grid-template-columns: 1fr;
   margin:1rem;
  }
  .submit{
   background-color: green;
   color: white;
  }
  #formType{
    display: none;
  }
  .payment{
    width: 20rem;
    
  }
  .payment:hover{
    background-color: white;
  }



  @media (max-width: 767.98px){
    .input {
   border-radius: 4px;
   margin-bottom: 6px;
   height: 2.5rem;
  }

  .label {
   margin-bottom: 6px;   
   font-size: 1rem;
   font-weight: 400;
  }

  .btn-form {
   
   width: 50vw;
   height: 2.5rem;
   color: white;
   margin: 2rem;
  }

  .payment{
    width: 50vw;
  }
  }


   @media (max-width: 575.98px){
    .input {
   border-radius: 2px;
   margin-bottom: 4px;
   height: 2.3rem;
  }

  .label {
   margin-bottom: 4px;
   
   
  }

  .btn-form {
   
   width: 50vw;
   height: 2.5rem;
   color: white;
   margin: 2rem;
  }

  
  }